<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <<title>Payroll</title>
</head>
<body>

<!-- Button trigger modal for department -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newemployee">
    Add new employee
</button>


<!-- Modal for employee -->
<div class="modal fade" id="newemployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/new_employee" method="post">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Employee name</label>
                        <input required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="Department name">
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput">Employee name</label>
                        <input name="name" required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="Department name">
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput">KRA PIN</label>
                        <input name="kra_pin" required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="enter pin">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">email</label>
                        <input name="email" required type="email" class="form-control" id="formGroupExampleInput"
                               placeholder="enter email">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">National ID</label>
                        <input name="national_id" type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="enter national id">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Department</label>
                        <select name="departments" required class="form-control">
                            <option>choose dept</option>
                            <option>IT</option>
                            <option>HR</option>
                            <option>Finance</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Basic Salary</label>
                        <input name="basic_sal" type="number" class="form-control" id="formGroupExampleInput"
                               placeholder="basic sal">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Benefits</label>
                        <input name="benefits" required type="number" class="form-control" id="formGroupExampleInput"
                               placeholder="benefits if any">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Benefits</label>
                        <input required type="number" class="form-control" id="formGroupExampleInput"
                               placeholder="benefits if any">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-primary">
                    </div>

                </form>
            </div>
            {#            <div class="modal-footer">#}
            {#                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
            {#                <button type="button" class="btn btn-primary">Save changes</button>#}
            {#            </div>#}
        </div>
    </div>
</div>


<!--<h1>Home</h1>-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>